.digital-dollar {
  background-color: color(secondary);
  overflow: hidden;

  &-content {
    @include maxWidth();
    @include sectionSpacing();
    @include flexLayout();

    img {
      width: 10rem;
      margin-bottom: 1rem;
    }

    h2 {
      @include headingStyles();
      font-size: size(xl) + 2rem;
      color: color(white);
    }

    p {
      @include textStyles();
      font-size: size(md);
      color: color(gray);
      width: 70%;
      margin: 2rem 0;

      @include response(xl) {
        width: 100%;
      }
    }

    .btn {
      width: 20%;

      @include response(xl) {
        width: 80%;
      }
    }
  }
}
