.join {
  background-color: color(secondary);
  overflow: hidden;
}
.join-content {
  @include maxWidth();
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;

  @include response(xxl) {
    grid-template-columns: 1fr;
    padding: 5rem 2rem 0 2rem;
  }

  &-info {
    @include response(xxl) {
      order: -1;
    }

    h2 {
      @include headingStyles();
      color: color(white);
      font-size: size(xl) + 2rem;
    }

    p {
      @include textStyles();
      color: color(gray);
      font-size: size(lg);
      margin: 1rem 0 3rem 0;
    }
  }

  &-img {
    width: 50rem;

    @include response(xxl) {
      width: 100%;
      max-width: 1000px;
    }
  }
}
