.exchange {
  @include sectionSpacing();
  @include maxWidth();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  align-items: center;
  overflow: hidden;

  @include response(xxl) {
    grid-template-columns: 1fr;
  }

  &-info {
    @include response(xxl) {
      order: -1;
    }
    &-logos {
      display: flex;
      width: 5rem;
    }

    h3 {
      @include headingStyles();
      font-size: size(xl) + 1rem;
      margin: 2rem 0;
    }

    &-btn-link {
      margin: 3rem 0;

      a:not(.btn) {
        font-size: size(sm);
        color: color(tertiary);
        margin-left: 2rem;

        @include response(sm) {
          display: none;
        }

        i {
          margin-left: 0.5rem;
          transition: all 0.2s ease;
        }

        &:hover {
          i {
            margin-left: 1.5rem;
          }
        }
      }

      .btn {
        background-color: color(tertiary);

        &:hover {
          background-color: darken(color(tertiary), 5%);
        }
      }
    }

    &-border {
      border-left: 0.3rem solid color(tertiary);

      a {
        color: color(black);
        font-size: size(xl);
        margin-left: 2rem;
        transition: all 0.2s ease;

        @include response(md) {
          font-size: size(lg);
        }

        @include response(sm) {
          font-size: size(md);
        }

        &:hover {
          color: color(tertiary);
        }
      }

      p {
        font-size: size(md);
        margin: 2rem 0;
        margin-left: 2rem;
      }
    }

    &-links {
      display: flex;
      flex-direction: column;

      a {
        font-size: size(lg);
        margin: 2rem 0;
        color: color(black);
        transition: color 0.2s ease;

        @include response(md) {
          font-size: size(lg);
        }

        &:hover {
          color: color(tertiary);
        }
      }
    }
  }

  &-img {
    width: 100%;
  }
}
