.hero {
  background: url(/images/home/hero-gradient.svg) center center/cover no-repeat;
  height: 70vh;
  position: relative;
  overflow: hidden;

  &-content {
    @include maxWidth();
    @include flexLayout();
    height: 70vh;
    padding: 0 1rem;

    @include response(md) {
      margin: 2rem 0;
    }

    h1 {
      @include headingStyles();
      font-size: size(xl) + 1rem;
      color: color(white);
      width: 70%;

      @include response(xl) {
        width: 100%;
      }
    }

    h2 {
      @include headingStyles();
      font-size: size(md);
      color: color(white);
      width: 70%;

      @include response(xl) {
        width: 100%;
      }
    }

    .btn {
      width: 20%;

      @include response(xl) {
        width: 80%;
      }
    }
  }
}
