.liquidity {
  background-color: color(secondary);

  &-content {
    @include maxWidth();
    @include sectionSpacing();
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
    align-items: center;

    @include response(xxl) {
      grid-template-columns: 1fr;
    }

    &-info {
      @include response(xxl) {
        order: -1;
      }
    }

    small {
      @include textStyles();
      color: color(green);
      font-size: size(xs);
      letter-spacing: 0.5rem;
    }

    h3 {
      @include headingStyles();
      color: color(white);
      font-size: size(xl);
    }

    h4 {
      @include headingStyles();
      color: color(white);
      font-size: size(md);
    }

    p {
      @include textStyles();
      color: color(gray);
      font-size: size(sm);
      margin-bottom: 2.5rem;
    }

    img {
      width: 100%;

      @include response(xxl) {
        margin-top: 5rem;
      }
    }
  }
}
