.speed {
  background-color: color(secondary);
  height: 100vh;

  &-content {
    @include maxWidth();
    @include sectionSpacing();
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
    align-items: center;
    height: 100vh;

    small {
      @include textStyles();
      color: color(green);
      font-size: size(xs);
      letter-spacing: 0.5rem;
    }

    h3 {
      @include headingStyles();
      color: color(white);
      font-size: size(xl);
    }

    h4 {
      @include headingStyles();
      color: color(white);
      font-size: size(md);
    }

    p {
      @include textStyles();
      color: color(gray);
      font-size: size(sm);
      margin-bottom: 2.5rem;
    }

    img {
      width: 100%;
    }
  }
}
