.footer {
  @include sectionSpacing();
  @include maxWidth();

  &-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 5rem 0;

    @include response(lg) {
      grid-template-columns: 1fr;
    }

    .social {
      display: flex;
      margin: 1rem 0;

      img {
        width: 3rem;
        margin-right: 2rem;
      }
    }

    .col {
      h3 {
        @include headingStyles();
        font-size: size(md);
      }

      span {
        color: color(gray);
      }

      li {
        margin: 1rem 0;
      }

      a {
        @include textStyles();
        font-size: size(xs);
        color: color(black);
        transition: color 0.2s ease;

        &:hover {
          color: color(primary);
        }
      }
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: space-around;

    @include response(lg) {
      grid-template-columns: 1fr;
    }

    .copyright {
      font-size: size(xs);
    }

    .app-stores {
      display: flex;
      justify-content: flex-end;

      @include response(lg) {
        justify-content: flex-start;
      }

      img {
        width: 12rem;
        margin-right: 2rem;
      }
    }
  }
}
