header {
  background-color: color(secondary);
}

.navigation {
  background-color: rgba(color(secondary), 0.9);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  border-bottom: 0.2rem solid color(white);

  &-logo {
    i {
      color: color(primary);
    }

    h2 {
      font-size: size(lg);
      color: color(white);
    }

    span {
      color: color(gray);
    }
  }

  &-link {
    font-size: size(sm);
    margin-left: 2rem;
    color: color(gray);
    transition: all 0.2s ease;

    &:hover {
      color: color(white);
    }
  }

  &-link:nth-child(1) {
    margin-left: 0;
  }

  &-search {
    position: relative;
    input {
      padding: 1rem;
      width: 30rem;
      border: 0;
      font-size: size(xs);
      background-color: transparent;
      color: color(white);
      padding-left: 3rem;
      border-bottom: 0.2rem solid color(white);
      transition: all 0.2s ease;

      &:focus {
        outline: 0;
        border-bottom: 0.2rem solid color(primary);
      }
    }

    i {
      position: absolute;
      top: 0.8em;
      left: 0.5em;
      color: color(gray);
      font-size: size(xs) - 0.2rem;
    }
  }
}
