.btn {
  @include headingStyles();
  padding: 1.3rem;
  font-size: size(xs);
  border-radius: 0.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  z-index: 10;

  &-light {
    background-color: color(primary);
    color: color(white);
    transition: all 0.2s ease;

    &:hover {
      background-color: darken(color(primary), 5%);
    }
  }

  &-dark {
    background-color: color(secondary);
    color: color(white);
    transition: all 0.2s ease;

    &:hover {
      background-color: lighten(color(secondary), 5%);
    }
  }
}
