.btn {
  padding: 1.1rem;
  font-size: size(sm);
  border-radius: 0.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;

  &-light {
    background-color: color(primary);
    color: color(white);
    transition: all 0.2s ease;

    &:hover {
      background-color: darken(color(primary), 5%);
    }
  }

  &-dark {
    background-color: color(secondary);
    color: color(white);
    margin-right: 0.5em;

    &:hover {
      background-color: lighten(color(secondary), 5%);
    }
  }
}
