.two-col {
  background-color: color(secondary);

  &-content {
    @include sectionSpacing();
    @include maxWidth();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;

    @include response(xxl) {
      grid-template-columns: 1fr;
    }

    &-info {
      @include response(xxl) {
        order: -1;
      }
      small {
        @include textStyles();
        letter-spacing: 0.5rem;
        font-size: size(sm);
        color: color(green);
      }

      h2 {
        @include headingStyles();
        font-size: size(xl) + 2rem;
        color: color(white);
        margin: 2rem 0;
      }

      p {
        @include textStyles();
        font-size: size(md);
        color: color(gray);
        margin-bottom: 3rem;
      }
    }

    &-img {
      img {
        width: 100%;
      }
    }
  }
}
