@mixin flexLayout() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin sectionSpacing() {
  padding: 5rem 2rem;
}

@mixin headingStyles() {
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

@mixin textStyles() {
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

@mixin maxWidth() {
  max-width: 1400px;
  margin: auto;
}

@mixin response($breakpoint) {
  @if ($breakpoint == xxl) {
    @media (max-width: 1010px) {
      @content;
    }
  }

  @if ($breakpoint == xl) {
    @media (max-width: 700px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 510px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 400px) {
      @content;
    }
  }
}
