$colors: (
  primary: #0c6cf2,
  secondary: #2a3448,
  tertiary: #0e828c,
  quaternary: #5322e5,
  gray: #b1b8c7,
  black: #000,
  white: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem,
);

@function size($size) {
  @return map-get($font-sizes, $size);
}
